configuration {
        modi: "drun";
        show-icons: true;
        terminal: "i3-sensible-terminal";
        fixed-num-lines: true;
        sidebar-mode: true;
        window-format: "{w}\t{c}";
        kb-cancel: "Alt+Tab,Escape";
}
@theme "themes/squared-nord"
